<h1 class="text-4xl font-bold text-center my-4">Welcome to <%= @store.name %>!</h1>
<p class="text-lg text-gray-700 mb-4"><%= @store.description %></p>
<div class="flex items-center justify-center mt-4">
  <%= form_tag(search_store_products_path(@store), method: :get, class: "flex") do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search by name...", class: "border rounded-l py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <%= submit_tag "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r" %>
  <% end %>
</div>
<% if @products.any? %>
  <h2 class="text-2xl font-semibold mb-2">Products</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @products.each do |product| %>
      <%= link_to store_product_path(@store, product), class: 'block' do %> 
        <div class="bg-white rounded shadow p-4">
          <% if product.image.attached? %>
            <div class="mb-4">
              <%= image_tag product.image, class: "w-full h-48 object-cover rounded-lg" %>
            </div>
          <% end %>
          <h3 class="text-xl font-semibold mb-2"><%= product.name %></h3>
          <p><%= product.description %></p>
          <p class="text-green-600 font-bold">Price: <%= number_to_currency(product.price, unit: "₦") %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-600">No products available yet.</p>
<% end %>

<% if current_user == @store.user %>
  <%= link_to 'Add Product', new_store_product_path(@store), 
              data: { action: "click->product-variations#showForm" }, 
              class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4' %>

  <%= turbo_frame_tag 'new_product_form', src: new_store_product_path(@store), class: 'hidden' do %>
  <% end %>
<% end %>
