<% if user_signed_in? %>
  <div class="p-4 bg-gray-100 rounded-lg shadow-md">
    <% if current_user.store_owner? %>
      <p class="text-lg font-semibold mb-2">Welcome, <%= current_user.name %>!</p> 
      <%= link_to 'View your store', store_path(current_user.store), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
      <%= button_to "View Orders", orders_path, method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% else %>
      <p class="text-lg font-semibold">Welcome, <%= current_user.name %>!</p>
      <%= link_to 'Create your store', new_store_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <% end %> <%# Close the if current_user.store_owner? block here %>
  </div> 
<% else %> <%# This 'else' now corresponds to the 'if user_signed_in?' block %>
  <div class="flex flex-col items-center space-y-4">
    <h2 class="text-2xl font-bold">Welcome to the Marketplace!</h2>
    <p class="text-gray-600">Discover unique products from our talented vendors.</p>
    <%= link_to "Sign up as a store owner", new_user_registration_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
  </div>

  <% if @products.any? %>
    <h2 class="text-2xl font-semibold mt-8">Featured Products</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <% @products.each do |product| %>
        <%= link_to store_product_path(product.store, product), class: 'block' do %> 
          <div class="bg-white rounded shadow p-4">
            <% if product.image.attached? %>
              <div class="mb-4">
                <%= image_tag product.image, class: "w-full h-48 object-cover rounded-lg" %>
              </div>
            <% end %>
            <h3 class="text-xl font-semibold mb-2"><%= product.name %></h3>
            <p><%= product.description %></p>
            <p class="text-green-600 font-bold">Price: <%= number_to_currency(product.price, unit: "₦") %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %> <%# Close the 'if user_signed_in?' block here %>
