<!DOCTYPE html>
<html>
  <head>
    <title>Runnrs01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-white shadow-md">
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <%= link_to "Home", root_path, class: "text-gray-800 hover:text-gray-900" %>
          </div>
          <div class="flex items-center">
            <% if user_signed_in? %>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <main class="container mx-auto mt-8 px-4">
      <%= turbo_frame_tag "flash_messages" do %>
      <% end %>

      <%= yield %>

      <%= turbo_frame_tag "store_details" do %>
      <% end %>
    </main>

  </body>
</html>
